
<div>
<div>
    <br>
    <br>
    <br>
    <br>
<center>
<b><form action="/question/{{id}}" method="post" class="quest"></b>
<h3>{{question}}</h3>
<br>
<input type="radio" name="answers" value="a"> {{choice.a}}
<br>
<input type="radio" name="answers" value="b"> {{choice.b}}
<br>
<input type="radio" name="answers" value="c"> {{choice.c}}
<br>
<input type="radio" name="answers" value="d"> {{choice.d}}
<br>
<button postmethod = 'post'>Submit</button>
</form>
<br>
<br>
<br>
<img src ="/images/quizguy.png" class="guy">
</center>
</div>
</div>
